<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="style.css">
<title>Title</title>
</head>
<body>
         
                             <div class="card">
                            <div class="card-body">
                                    <form action=""> 
                                <p class="card-title">
                                  Personal info
                                </p>
                                <div class="row">
                                  <div class="col-md-6">
                                  <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Name</label>
                        <input type="text" class="form-control" />
            
                                </div>                    
                                  </div>
                                  
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Gender</label>
                                      <div class="col-sm-9">
                                      <select class="form-control">
                                          <option>Islam</option>
                                          <option>Hinhu</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Date of birth</label>
                                      <div class="col-sm-9">
                                        <input type="date" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Religion</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Islam</option>
                                          <option>Hinhu</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Nationality</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Bangladeshi</option>
                                          
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Email</label>
                                      <div class="col-sm-9">
                                        <input type="email" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Mobile</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Password</label>
                                      <div class="col-sm-9">
                                        <input type="password" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Re-type Password</label>
                                      <div class="col-sm-9">
                                        <input type="password" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                 </div>
                                
                                
                                <!---For Parent Information Start-->
            <div class="card mt-3">
            <div class="card-body">
            <h4 class="card-title">Parent Information</h4>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Father Name</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Mother Name</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Mobile Number</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Email</label>
                                      <div class="col-sm-9">
                                        <input type="email" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  
                                </div>
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Password</label>
                                      <div class="col-sm-9">
                                        <input type="password" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Re-type Password</label>
                                      <div class="col-sm-9">
                                        <input type="password" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
            
            </div>
            </div>
            
            <!---For Parent Information end-->	
            
             <!---For Class Information Start-->  
                                  
                                <div class= "card mt-3">
                                <div class= "card-body">
                                <h4 class="card-title">Class Information</h4>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Class</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Category1</option>
                                          <option>Category2</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                     <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Shift</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Category1</option>
                                          <option>Category2</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      </div>
                                    </div>
                                    
                                    
                                  </div>
                                </div>
                                
                                
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Section</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Category1</option>
                                          <option>Category2</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                     <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">session</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Category1</option>
                                          <option>Category2</option>
                                          <option>Category3</option>
                                          <option>Category4</option>
                                        </select>
                                      </div>
                                    </div>
                                    </div>
                                </div>
                                
                                
                                </div>
                                </div>
                                
                                 <!---For Class Information end-->
                                
                                <!---address Start here---->
                                
                                <div class="card mt-3">
                                <div class = "card-body">
                                
                                <p class="card-title">
                                  Address
                                </p>
                                <div class="row">
                                <div class="col-md-6">
                                <p class="card-description">
                                  present Address
                                </p>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Care of</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Address</label>
                                      <div class="col-sm-9">
                                        <textarea class="form-control"></textarea>
                                      </div>
                                    </div>
                            <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">District</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Dhaka</option>
                                          <option>Gazipur</option>
                                          <option>Comilla</option>
                                          <option>Ctg</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Thana/Upallzia</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Mirpur</option>
                                          <option>Dhanmondi</option>
                                          <option>Bonani</option>
                                          <option>Uttra</option>
                                        </select>
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Village</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Post Office</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Post Code</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <p class="card-description">
                                  parment Address
                                </p>
                                
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Care of</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Address</label>
                                      <div class="col-sm-9">
                                        <textarea class="form-control"></textarea>
                                      </div>
                                    </div>
                            <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">District</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Dhaka</option>
                                          <option>Gazipur</option>
                                          <option>Comilla</option>
                                          <option>Ctg</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Thana/Upallzia</label>
                                      <div class="col-sm-9">
                                        <select class="form-control">
                                          <option>Mirpur</option>
                                          <option>Dhanmondi</option>
                                          <option>Bonani</option>
                                          <option>Uttra</option>
                                        </select>
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Village</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Post Office</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Post Code</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                      </div>
                                    </div>
                                    
                                </div>
                                </div>
                                
                               
                                  
                                <div class="text-right mt-3">
                                <button type="submit" class="btn btn-success mr-2">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                    <div>
                                    
                                 </div>
                                  </div>
                                       <!---For Address Information End-->
                                     
                                 
            
                                 
                           </form>
                         
                          


  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>